/* Smartphones */

@media screen and (max-width: 768px){
    html{
        font-size: 8px;
        max-width: 100%;
    }

    body{
        max-width: 100%;
        background-color: #0D0E12;
    }

    #titulo{
        display: flex;
        justify-content: center;
        padding-top: 35rem;
        padding-bottom: 45rem;
    }

    #titulo>article>P{
        font-size: 3rem;
        color: #77FFC0;
        font-family: 'Poppins' , sans-serif;
        font-weight: 200;
     
    }
    
    #titulo>article>p>span{
        font-size: 2.5rem;
        color: #0D0E12;
        background-color: #77FFC0;
        font-family: 'Poppins' , sans-serif;
        font-weight: 100;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.9375rem;
    }
    
    #titulo>article>div>h2{
        font-size: 2rem;
        text-align: center;
        color: white;
        font-weight: 100;
        display: block;
        margin: 0 auto;
    }
    #sobre{
        display: flex;
        flex-direction: column;
        padding-bottom: 20rem;
        padding-top: 5rem;
    }

    #cont-paragrafo>p{
        padding-bottom: 5rem;
    }

    #titulo-subtitulo>h2{
        font-size: 20px;
    }

    #sobre>img{
        width: 20rem;
        height: 40rem;
        margin-right: 10rem;
        margin-top:3rem;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }

    #cont-paragrafo>p{
        font-size: 1.3rem;
        padding-top: 1rem;
    }

    #img-footer>a>img{
        width: 30px;
    }

    #footer>article>p{
        font-family: 'Poppins' , sans-serif;
        color: white;
        font-size: 1.5rem;
    }
    
    #footer>article>span{
        font-family: 'Poppins' , sans-serif;
        color: white;
        font-size: 1.2rem;
        padding-bottom: 0.8rem ;
        padding-top: 0.65rem;
    }

    #titulo-subtitulo-contato{
        display: flex;
        justify-content: center;
    }
    
    #titulo-subtitulo-contato>h2{
        font-family: 'Poppins' , sans-serif;
        margin-top: 1rem;
        font-size: 23px;
        font-weight: 550;
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    /* Navbar */

    nav  ul li a{
        font-size: 12px;
    } 

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 6.2rem;
        right: 0px;
        background: #11131a;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
      }

      #nav.active #menu {
        height: 1500%;
        visibility: visible;
        overflow-y: auto;
      }

      #menu a {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        font-size: 2rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.05);
      }

      #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: transparent;
        cursor: pointer;
        gap: 0.5rem;
      }

      #hamburger {
        border-top: 2px solid;
        width: 20px;
        color: white;
      }

      #hamburger::after,
      #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }

      #nav.active #hamburger {
        border-top-color: transparent;
      }

      #nav.active #hamburger::before {
        transform: rotate(135deg);
      }

      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }

        #header{
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        #icons-contato{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-left:2.3rem;
            margin-top: 3rem;
            margin-bottom: 5rem;
            padding: none;
        }
        
        #icons-contato>div>a>div{
            margin-bottom: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        #icons-contato>div>a>div>img{
            height: 50px;
            width: 50px;
        }
        
        #icons-contato>div>a>div>p{
            padding-top: 0.5rem;
            font-size: 1.5rem;
            font-weight: 600;
            font-family: 'Poppins' , sans-serif;
        }
        
        #icons-contato>div>a>div>span{
            font-family: 'Poppins' , sans-serif;
            font-size: 1rem;
        }
        
        

      
}

/* Tablet */

@media screen and (min-width: 769px){
    html{
    font-size: 13px;
    }

    #sobre{
        display: flex;
        flex-direction: column;
        padding-bottom: 14rem;
    }

    #cont-paragrafo>p{
        padding-bottom: 5rem;
    }

    #titulo-subtitulo>h2{
        font-size: 25px;
    }

    #sobre>img{
        width: 24rem;
        height: 44rem;
        margin-right: 10rem;
        margin-top:3rem;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        
    }

    #titulo-subtitulo-contato{
        display: flex;
        justify-content: center;
    }
    
    #titulo-subtitulo-contato>h2{
        font-family: 'Poppins' , sans-serif;
        margin-top: 1rem;
        font-size: 30px;
        font-weight: 550;
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    #img-footer>a>img{
        width: 40px;
    }

    #footer>article>p{
        font-family: 'Poppins' , sans-serif;
        color: white;
        font-size: 1.3rem;
    }
    
    #footer>article>span{
        font-family: 'Poppins' , sans-serif;
        color: white;
        font-size: 1.1rem;
        padding-bottom: 0.6rem ;
        padding-top: 0.6rem;
    }

    nav ul li a{
        font-size: 18px;
    }

    #cont-paragrafo>p{
        font-size: 1.3rem;
        padding-top: 1rem;
    }

    #icons-contato{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left:2.4rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        padding: none;
    }
    
    #icons-contato>div>a>div{
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #icons-contato>div>a>div>img{
        height: 100px;
        width: 100px;
    }
    
    #icons-contato>div>a>div>p{
        padding-top: 0.5rem;
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Poppins' , sans-serif;
    }
    
    #icons-contato>div>a>div>span{
        font-family: 'Poppins' , sans-serif;
        font-size: 1.5rem;
    }

}

/* Telas Grandes */

@media screen and (min-width: 992px){
    html{
    font-size: 16px;
    }

    #sobre{
        display: flex;
        flex-direction: row;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    #sobre>img{
        width: 28rem;
        height: 28rem;
        margin-right: 10rem;
        margin-top: 3rem;
        
    }

    #cont-paragrafo>p{
        padding-bottom: 2rem;
        font-size: 18px;
    }

    #titulo-subtitulo>h2{
        font-size: 34px;
    }

    #img-footer>a>img{
        width: 40px;
        height: 40px;
    }

    #footer{
        align-items: center;
    }

    #footer>article>p{
        font-family: 'Poppins' , sans-serif;
        color: white;
        font-size: 1rem;
    }
    
    #footer>article>span{
        font-family: 'Poppins' , sans-serif;
        color: white;
        font-size: 0.8rem;
    }

    nav a{
        font-size: 18px;
    }

    #projetos>article{
        display: flex;
        flex-direction: row;

    }

    #projetos>article>div{
        margin: 2rem;
    }

    #projetos>article>div>div>h1{
        font-size: 1.3rem;
    }
    
    #projetos>article>div>div>h3{
        font-size: 0.9rem;
    }
    
    #projetos>article>div>div>p{
        font-size: 1rem;
        padding-top: 1rem;
    }

    #titulo-subtitulo-contato{
        display: flex;
        justify-content: center;
    }
    
    #titulo-subtitulo-contato>h2{
        font-family: 'Poppins' , sans-serif;
        margin-top: 1rem;
        font-size: 34px;
        font-weight: 550;
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    #icons-contato{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
       
    }
    
    #icons-contato>div{
        display: flex;
        flex-direction: column;
        padding-left: 6rem;
        padding-right: 6rem;
        align-items: center;
    }
    
    #icons-contato>div>img{
        height: 100px;
        width: 100px;
    }
    
    #icons-contato>div>a>div>p{
        padding-top: 0.5rem;
        font-weight: 500;
        font-family: 'Poppins' , sans-serif;
        font-size: 1.5rem;
    }
    
    #icons-contato>div>a>div>span{
        font-family: 'Poppins' , sans-serif;
        font-size: 1.1rem;
    }
}
